{{page-title "TaskManager"}}

<header class="navbar">
    <h1 class="page-title">Task Manager</h1>

    <nav class="nav-links">

      <LinkTo @route="register">Register</LinkTo>
       <LinkTo @route="login">Login</LinkTo>
        <LinkTo @route="tasks">Tasks</LinkTo>
      <LinkTo @route="history">History</LinkTo>  
</nav>
</header>

<main>
    {{outlet}}
</main>


{{! The following component displays Ember's default welcome message. }}
{{!-- <WelcomePage /> --}}
{{! Feel free to remove this! }}