{{page-title "History"}}
{{!-- {{outlet}} --}}

<h3 class="task-history-title">Task Change History</h3>

<ul>
    <li>Task A - Status changed to Started</li>
    <li>Task A - Description updated</li>
    <li>Task A - Status changed to Done</li>
</ul>