{{page-title "Login"}}
{{!-- {{outlet}} --}}

<div class="login">
  <div class="login__container">
    <h2 class="login__title">Login</h2>
    <form class="login__form" {{on "submit" this.login}}>

      <label for="username">Username</label>
      <input type="text" id="username">

      <label for="password">Password</label>
      <input type="password" id="password">

      <div class="login__button">
       <button type="submit" class="btn btn--primary">Login</button>
      </div>
    
       <div class="login__footer">
        <LinkTo @route="register">Don't have an account? Register</LinkTo>
        <LinkTo @route="forgot-password">Forgot password?</LinkTo>
      </div>
    </form>
  </div>
</div>


 